body {
    background-color: rgb(26, 153, 111);
    color : white;
    font-family: 'Noto Sans KR', sans-serif;
}
ul li {
    list-style :none;    
    color : white;
    cursor : pointer;
}

header {
    padding : 0 30px;    
}
header h1{
    position: absolute;
}
header > ul {
    position : absolute;
    right : 30px;
    top : 10px;
}
header #bigMenu {
    position: absolute;
    left : 0;
    top : 0;
    width : 100%;
}

header #bigMenu nav {
    border-bottom : 2px solid black;
}
header #bigMenu nav > ul { text-align: center;}
header #bigMenu nav > ul > li { 
    display : inline-block;
    position: relative;
}
header #bigMenu nav > ul > li > a {
    display :block;
    line-height: 70px;
    position : relative;
    width: 160px;
    height: 70px;
    font-size : 18px;
    color : white;
}
header #bigMenu nav > ul > li > a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width : 100%;
    height: 2px;
    background: white;
}
header #bigMenu nav > ul > li > a:hover:after{
    width : 100%;
}

header #bigMenu nav > ul ul { 
    display : none;
    position: absolute;
    width : 50%;
    text-align : center;

    line-height: 30px;
    width: 90px;
    height: 70px;
}

#searchPart {
    position: absolute;
    padding-top: 110px;
    border-bottom: 2px solid black;
    text-align: center;
    align-content: center;
    width : 100%;
    padding-bottom: 15px;
}

#imagePart{
    text-align: center;
    height : 200px;
    padding-top: 160px;
}

#boardPart{
    padding-top: 100px;
    text-align: center;
}

.firstIMG{
    padding-right:50px;
}

#search{
    height: 20px;
    width: 400px;
}

#searchButton{
    text-align: center;
    height: 24px;
}
