.contentArea ul {
    list-style: none;
    margin:0px; padding:0px;
}
body, html {
    background-color: #c9c8c8;
    margin : 0;
}
input {
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
header a{
    cursor: pointer;
}
header a:hover {
    color : gray;
}
.tab {
    white-space: pre;
}
/* 전체 헤더 */
header {
    display: block;
    width: 100%;
    background-color: #212529;
    color : #f2f2f2;
}
header .logo {
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    top: 20px;
    left : 30px;
    width: 100px;
    height : 40px;
}
header .loginArea{
    position: absolute;
    top : 32px;
    right : 20px;
    font-size : 13px;
}
nav {
    display: block;
    text-align: center;
    margin : 0 auto;
    padding: 29px 0;
}
.navArea {
    cursor : pointer;
    color : #f2f2f2;
    text-decoration: none;
    margin : 10px 20px 10px 20px;
    padding : 10px 10px 10px 10px;
    font-size: 18px;
}
.navButton {
    border : 1px solid white;
    border-radius: 5px;
    padding : 10px 10px 10px 10px;
    background-color: white;
    color : black;
    text-decoration: none;
    font-weight: 900;
    margin-right: 10px;
}
/* 전체 footer 
.loginArea {
    padding-top : 100px;
    color : black;
    height : 200px;
    text-align: center;
} */
/* 메인 페이지 */
#bottom {
    text-align: center;   
    background-color: #c8c8c8;
}
.rightSide {
    position: absolute;
    border: 1px solid black;
    top : 100px;
    right : 30px;
    width: 230px;
    height: 400px;
}

.main {
    padding-top : 15px;
    margin-left : auto;
    margin-right : auto;
    width: 600px;
}

.titleArea {
    padding : 2px 0px 2px 5px;
    margin-bottom : 3px;
    width: 500px;
    height: 30px;
    font-weight: 700;
    font-size : 18px;
    color : rgb(65, 63, 63);
    text-align: left;
}
.contentArea {
    width: 600px;
}
.article {
    padding : 15px 10px 15px 15px;
    margin : 1px 1px 1px 0;
    text-align: left;
    background-color: #f8f8f8;
    font-weight: 400;
    font-size : 15px;
}
.articleInfo {
    position: relative;
    float:right;
    font-size : 13px;
    font-weight: 300;
    color : #999999
}
/* 로그인 페이지 */
form{
    background-color: #333333;
    color : #f2f2f2;
    padding : 30px 30px 10px 30px;
    margin-top : 20%;
    margin-bottom: px;
    border-radius: 10px;
    text-align: center;
}
#loginForm {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 50px;
    text-align: center;
    border :none;
}
.formBox {
    width : 200px;
    height: 30px;
    border-radius : 0.3rem;
    padding: 0.2rem 0.75rem;
    border-color: #c8c8c8;
}
.social {
    margin-top : 28px;
    padding : 20px 10px 20px 10px;
}
.icons{
    width: 30px;
    height: 20px;
}
/* 회원가입 페이지 */
#joinForm {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 50px;
    text-align: center;
    border :none;
}
.inputInfo {
    font-weight: 600;
}
#joinForm .formBox {
    margin-left : 25px;
    margin-top : 8px;
}
label .checkBox {
    margin-right : 15px;
}
.submitButton {
    margin : 15px 0 20px 0;
    width: 240px;
    text-align: center;
    font-size : 1rem;
    border-radius : 0.25rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-weight: 600;
}
.submitButton:hover {
    cursor : pointer;
    color : #999999;
}
#socialJoin {

}




/* 미디어 쿼리 ( 화면 줄이면 마이페이지, 로그인 버튼 안 나오게 ) */
@media screen and (max-width : 860px){
    .navButton {
        display: none;
    }
}
@media screen and (max-width : 800px){
    header > .logo {
        display: none;
    }
}